<% @messages.each do |message| %>
    <div class="">
        <div class="col-md-3">
            <div class="wrapper well">
                <h2> <%= message.title %></h2>
                <%= link_to "Join Topic", message, Class:"btn btn-info" %>
            </div>
        </div>
    </div>
<% end %>